<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="BG2">
            <div class="tophalf">
        <ul id="navbar">
            <li> <a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
        <div class="bottom">
            <div class="backdrop2">
                <h3>Contact me</h3>
                <ul>
                    <li>Send via post to Naydra Fields East Gate P.O. Box #12345</li>
                    <li>Or contact Pikango in Hateno Village in person, he will deliver the message directly to me</li>
                </ul>
            </div>
            
        </div>


    @{
        
        
        }
        </div>
    </body>
</html>