<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="BG">
            <div class="tophalf">
        <ul id="navbar">
            <li> <a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
        <div class="bottom">
            <img src="css/images/pic.jpg" alt="">
            <div class="backdrop">
                <h3>About Me</h3>
                <ul>
                    <li>I just woke up from 100 years slumber. 
                        Now on a misison to defeat Calamatity Ganon
                        and save princess Zelda and the land of Hyrule.</li>
                </ul>
                <h3> Skills include</h3>
                <ul>
                    <li>Catching lizards</li>
                    <li>Breaking weapons</li>
                    <li>Archery</li>
                    <li> Paragliding</li>
                    </ul>
            </div>
            
        </div>


    @{
        
        
        }
        </div>
    </body>
</html>