<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="BG3">
            <div class="tophalf">
        <ul id="navbar">
            <li> <a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
        <div class="bottom2">
            <img src="css/images/shred.webp">
            <img src="css/images/bam.gif">
            <img src="css/images/cook.gif">
            <img src="css/images/power.gif">
            </div>
            
        </div>


    @{
        
        
        }
        </div>
    </body>
    
</html>