<div>
    <h1>Welcome to QuotingDojo</h1>
    <form action="/add" method="POST">
    <br><input type="text" name="user" placeholder="Your Name">
    <br><textarea name="content">
    </textarea>
    <br><input type="submit" value="Add my quote!">
    <button><a href="/quotes">Skip to quotes!</a></button>
    </form>
</div>