<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3>Our redirected view was a success</h3>
        <form action="redirectEx" method="post">
            <input type="text" name="Value" value="">
            <button type="">Click to redirect</button>
        </form>
    
    </body>
</html>