<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="yo">
        <h1>A New Blank Project with everything you need <3</h1>
        <form action="redirectEx" method="post">
            <input type="text" name="Value" value="">
            <button type="">Click to redirect</button>
        </form>
        <form action="redirect2" method="post">
            <input type="text" name="Value" value="">
            <button type="">Click to redirect</button>
        </form>

    @{
        DateTime CurrentTime = DateTime.Now;
        <div>@CurrentTime</div>
        
        }
        </div>
    </body>
</html>