<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3>Our redirected view through a second controller was a success</h3>
        <h4>@ViewBag.Value</h4>
        <a href="/">Go Home</a>
    
    </body>
</html>